<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
      <th>Buying Price</th>
      <th>Selling Price</th>
      <th>Total Shares</th>
      <th>Profit/Loss</th>
      <% if @user.id == current_user.id %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @user_stocks.each do |user_stock| %>
    <tr>
      <td><%= user_stock.name %></td>
      <td><%= user_stock.ticker %></td>
      <td><%= user_stock.price %></td>
      
      <td><%= user_stock.buying_price %> 
         <%= text_field_tag :buying_price, params[:buying_price], placeholder: "0.0", :size =>5, autofocus: true,
                                                          class: 'form-control search-box input-sm' %>
      
      </td>
      <td><%= user_stock.selling_price %>
        <%= text_field_tag :selling_price, params[:selling_price], placeholder: "0.0", :size =>5, autofocus: true,
                                                          class: 'form-control search-box input-sm' %>
                                                          
      </td>
      <td><%= user_stock.total_shares %>
        <%= text_field_tag :total_shares, params[:total_shares], placeholder: "0.0", :size =>5, autofocus: true,
                                                          class: 'form-control search-box input-sm' %>
      </td>
      <td><%= user_stock.gain %>
        <%= text_field_tag :gain, params[:gain], placeholder: "0.0", :size =>5, autofocus: true,
                                                          class: 'form-control search-box input-sm' %>
      </td>
      
      
      
      <% if @user.id == current_user.id %>
      <td>
        <%= link_to 'Delete', user_stock_path(user_stock), 
                              :method => :delete, 
                              :data => { :confirm => "Are you sure?" },
                              :class => "btn btn-xs btn-danger" %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
